BOT_TOKEN= # тг токен для бота
BOT_ENV=dev # или prod для прода
WEBHOOK_URL=https://your.dikii.url/
WEBHOOK_ENDPOINT=it-top_bot
DEV_TELEGRAM_ID=1199175698
POSTGRES_PASSWORD=changeme
POSTGRES_DB_NAME=main