server {
    listen 80;
    server_name ${WEBHOOK_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name ${WEBHOOK_DOMAIN};

    ssl_certificate     /etc/letsencrypt/live/${WEBHOOK_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${WEBHOOK_DOMAIN}/privkey.pem;

    location /${WEBHOOK_DOMAIN} {
        proxy_pass http://${WEBHOOK_ENDPOINT}:5000/${WEBHOOK_ENDPOINT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}